body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

 .bg {
	background-image: url('../img/connect2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1450px;
} 


.jumbotron {
	background: rgba(32, 64, 96, 0.6)
	/*background: transparent; */
}


.main-container {
	width: 60%;
	margin: 0 auto;
	color: #FFF;
}

.main-container img {
	padding-bottom: 15px;
}

.main-container h1 {
	font-size: 45px;
}

.main-container p {
	font-size: 18px;
}

.main-container .btn {
	margin-top: 30px;
}


.container {
	display: flex;
	justify-content: center;
}


.sub-container {
	width: 40%;
	margin: 0 auto;
}

.sub-container h3 {
	padding: 10px;
}



footer {
	margin-top: 40px;
}


/* Login page */



